@tailwind base;
@tailwind components;
@tailwind utilities;

/* leaflet-container */
.leaflet-container {
    height: 240px;
}

/* react-date-range */
.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    width: 100% !important;
    font-size: 16px !important ;
}
